body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    font-family: "JetBrains Mono", monospace;
}

main{
    flex: 1;
}

input, select, button, textarea {
    font-family: inherit;
}

header {
    border-bottom: 2px solid #676767;
    padding: 15px 20px;
}

footer {
    border-top: 1px solid #676767;
    padding: 10px 20px;
    font-size: 0.8em;
}

/* Pfeile bei nummer feldern ausblenden */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.js-plotly-plot .plotly, 
.js-plotly-plot .plotly .cursor-crosshair {
    cursor: none !important;
}