<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    
    <script src="https://cdn.plot.ly/plotly-3.4.0.min.js" charset="utf-8"></script>
    
    <script>
        window.BACKTEST_DATA = {{ master_json | safe }};
        window.TRADES_DATA = {{ trades_json | safe }};
        window.EXPLANATION_DATA = {{ exlpanation_json | safe }};
    </script>

    <script src="../static/main.js" defer></script>
    
    <title>Results</title>
</head>

// description_1 : very short overview of strat
// description_2 : goes lil into detail, strengths of the strat and weaknesses
// description_3 : more focus on when the strat buys and when sells, what that means and what its trying to take advantage of

<body>

    <header>
        <div style="text-align: center;"> <strong> PinguTrader 🐧 </strong> </div>
    </header>

    <main>
        <h1>Trading Strategy Tester</h1>

        <p>You tested {{ strategy_html }} on '{{ ticker_html }}': {{ description_1 }} this is a very short description </p>


        <h2> {{ strategy_html }}  VS  Buy and Hold </h2>
        <div id="equity_curve"> </div>

        <p> a short overiew of the strat, some pros and cons are listed here </p>

        <p> judging how and when the strategy buys are discussed here </p>

        <p> many other things go </p>

        <h2> Buying signals </h2>
        <div id="price_chart"></div>

        <div id="indicator_chart"></div>

        <h2> Explanation </h2>
        <div id="explanation"></div>
    </main>

    <footer>
        <p>© 2026</p>
    </footer>

</body>
</html>