<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <title>Trading Strategy Tester</title>
</head>


<body>
    <header>
        <div style="text-align: center;">TraderMader</div>
    </header>

    <main>

        <p>Select your parameters below to run the backtest.</p>

        <form action="/backtest" method="POST">

            <div>
                <label for="ticker">Ticker Symbol:</label>
                <input type="text" id="ticker" name="ticker" list="ticker-options" placeholder="e.g., AAPL" required autocomplete="off">
                <datalist id="ticker-options"></datalist>
            </div>
            <script>
                //make the ticker interactive

                const tickerInput = document.getElementById('ticker');
                const datalist = document.getElementById('ticker-options');

                //when pressing a letter
                tickerInput.addEventListener('input', async function() {
                    const query = tickerInput.value;

                    //start querying after 2 letters
                    if (query.length < 2) {
                        datalist.innerHTML = ''; 
                        return;
                    }

                    //send request to backend via HTTPS
                    const response = await fetch(`/search_ticker?q=${query}`);
                    const tickers = await response.json();

                    //clear old list, add new elements
                    datalist.innerHTML = '';
                    tickers.forEach(ticker => {
                        const option = document.createElement('option');
                        option.value = ticker;
                        datalist.appendChild(option);
                    });
                });
            </script>

            <br>

            <div>
                <label for="strategy">Trading Strategy:</label>
                <select id="strategy" name="strategy">
                    <option value="SMA">SMA (Simple Moving Average)</option>
                    <option value="KAMA">KAMA (Kaufman's Adaptive Moving Average)</option>
                </select>
            </div>

            <br>

            <button type="submit">Run Backtest</button>

        </form>

    </main>

    <footer>

    </footer>

</body>


</html>