<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <title>Configure</title>
</head>

<body>
    <header>
        <div> <strong> PinguTrader 🐧 </strong> </div>
    </header>

    <main>

        quick overview
        <div>
        <h2> Quick overview </h2>
        <div> equity graph, a table with key aspects (focussed on raw data) </div>

        <div> quick explanation of strat, general interpretation of data </div>
        </div>

        in depth
        <div>
            <h2>in depth</h2>
            <div>price chart here</div>
            <div>explain generally when the strategy buys, and when sells</div>
            <div>go more into pros and cons</div>
        </div>

    </main>

    <footer>
        <p>© 2026</p>
    </footer>
</body>
